 /* .bg-video {


            
            position: relative;
            top: 50%;

            left: 50%;

            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover; */
        /* text-align: center/cover no-repeat;  */

         /* .bg-video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
            z-index: 0;
            object-fit: cover;



        }


        .video-section {
            height: 100vh;
            overflow: hidden;
            width: 100%;
        }

        .content {
            position: relative;
            z-index: 1;
            padding-top: 40vh;

        }  */


           #header {
            background-image: url(img/little-italy-offer.jpg);
            min-height: 100vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */

            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .hero-content {
            position: relative;
            z-index: 1;
            padding-top: 40vh;

            position: relative;
            text-align: center;
            color: #f0eded;

        }


        #herosecond {
            margin-top: 15vh;
        }

        #third_section {
            background-image: url(img/Group.png);
            height: 100vh;

            /* margin-top: 14vh; */
        }



        #third_sectioncontent {
            margin-top: 14vh;


        }

        #fourth_section {
            height: 100vh;
            background-image: url(img/Pizza1.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            /* padding: 40px 0; */
        }

        #fourth_section h1 {
            font-size: 3.5rem;
            font-weight: 700;
            color: #2e482f;
        }

        #fourth_section p {
            font-size: 2rem;
            color: #3b4b2c;

        }

        #fifth_section {
            background-image: url(img/cheese-pasta.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 60px 0;
        }

        .highlight-bar {
            display: inline-block;
            width: 60px;
            height: 10px;
            background: #98a246;
            margin-right: 10px;
        }

        .award-img {

            border-radius: 5px;

        }

        #fifth_section h2,
        h4,
        p {
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
        }


        .highlight-bar {
            width: 60px;
            height: 10px;
            background: #98a246;
        }

        .reserve-btn {
            background: #98a246;
            color: #fff;
            border-radius: 4px;
            letter-spacing: 1px;
        }

        .reserve-btn:hover {
            background: #7e8a32;
            color: #fff;
        }

        .footer-section {
            background: #111;
            /* dark black */
        }

        .reserve-btn {
            background: #98a246;
            color: #fff;
            border-radius: 4px;
            letter-spacing: 1px;
        }

        .reserve-btn:hover {
            background: #7e8a32;
            color: #fff;
        }

        .social-icon {
            width: 38px;
            height: 38px;
            cursor: pointer;
        }

        .social-icon:hover {
            opacity: 0.8;
        }




        * {
            margin: 0;
            padding: 0;

        }